.info-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  padding-top: 3%;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  border-radius: 5px;
}

.info-label {
  font-weight: bold;
  margin-bottom: 0.25rem;
  padding: 3px 5px;
  border-radius: 3px;
}

.info-value {
  font-size: 1.2rem;
  padding: 3px 5px;
  border-radius: 3px;
}

.profit-positive {
  color: green;
}

.profit-negative {
  color: red;
}